<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
  <div id="app"></div>
  <script type="module">
    import { createApp ,ref ,reactive} from "https://unpkg.com/vue@3/dist/vue.esm-browser.js";

    const root = {
        template:`
                   <form @submit.prevent="submitForm">
                      <div>
                          <label for="username">username:</label>
                          <input type="text"  id="username" v-model="form.username" required>
                          <span v-if="errors.username" class="error">{{errors.username}}</span>
                      </div>
                      <div>
                          <label for="password">password:</label>
                          <input type="password" id="password" v-model="form.password" required>
                          <span v-if="errors.password" class="error">{{errors.password}}</span>
                      </div>
                          <button type="submit">Login</button>
                    </form>
                 `,
        setup(){
                
                 const form = reactive(
                    {
                        username:'',
                        password:''    
                    }
                 )

                 const errors = reactive(
                    {
                        username:'',
                        password:''    
                    }
                )
                 
                const validateForm = () => {
                  //오류 메시지 관리 (초기화)
                  errors.username ='';
                  errors.password ='';
                  
                  let isValid = true;

                  //검사 로직 ()
                  if(!form.username){  //required 통해서 검증...
                     errors.username = "Username ... 입력해";
                     isValid =false;
                  }

                  if(!form.password){  ////required 통해서 검증..
                    errors.password = "password ... 입력해"; 
                    isValid =false;
                  }else if(form.password.length < 6){
                    errors.password = "least 6 char 입력해";
                    isValid = false;
                  }

                  return isValid;
                }    

                 const submitForm = () =>{
                  //폼 데이터를 서버에 전송 (제출 ) ..
                  //유효성 검사 수행하기
                  //v-model  >> form 객체가 동기화 
                  if(validateForm()){
                      console.log('Form submitted ' ,form);
                  }else{
                      console.log('Form faild ');
                  }
                   
                 }


                  return {
                            form,
                            errors,
                            submitForm 
                         }
               }
    }

    const app = createApp(root);  //root App.vue 생각 ....
    app.mount("#app");
  </script>
   <script>
 
             /*
                https://www.w3schools.com/vue/vue_v-model.php

                v-model creates a link between the input element value attribute and a data value 
                in the Vue instance. 
                When you change the input, the data updates and when the data changes, 
                the input updates as well (two-way binding).
                양방향 바인딩 ....
              */
    </script>
</body>
</html>